{% extends "base.html" %}
{% block mainframe %}

{% if user.is_authenticated %}
	{% if characters|length < 4 %}
		{% for character in characters %}
		<center>
			<div class="characters">
				<div>
					<a href="{% url 'profile' character.name %}">
						<img src="{{ character.portrait.portrait }}" alt="{{ character.portrait.name }}"/>
					</a>
				</div>
				<div style="height: 30px">
					<a href="{% url 'profile' character.name %}">
						{{character.name}}
					</a>
				</div>
				<div>
					{{character.faction}}
				</div>
				
				{% if character.protected %}
					<div style="color: green">
						<b>PROTECTED</b>
					</div>
				{% endif %}
			
				<div style="text-align: center">
					<a href="{% url 'login_character' character.name %}">
						Log in(WN)
					</a>
				</div>
			</div>
		</center>
		{% endfor %}
	{% endif %}	
	{% if characters|length < 3 %}
		<div>
			<p><a href="{% url 'create_character' %}">New Character</a></p>
		</div>
	{% endif %}
{% else %}
Please <a href="{% url 'index' %}">login</a> or <a href="{% url 'register_user' %}">register</a> to create a character
{% endif %}
{% endblock %}
