{% extends "base.html" %}
{% block mainframe %}


{% if characters|length < 4 %}
	{% for character in characters %}
		<div class="characters">
				<div>
					<a href="{% url 'character_profile' character.name %}">
						<img src="{{ character.portrait.portrait }}" alt="{{ character.portrait.name }}"/>
					</a>
				</div>
				<div style="height: 30px">
					<a href="{% url 'character_profile' character.name %}">
						{{character.name}}
					</a>
				</div>
				<div>
					{{character.faction}}
				</div>
				
				{% if character.protected %}
					<div style="color: green">
						<b>PROTECTED</b>
					</div>
				{% endif %}
			
				<div style="text-align: center">
					<a href="{% url 'login_character' character.name %}">
						Log in(WN)
					</a>
				</div>
			</a>
		</div>
	{% endfor %}
{% endif %}	


{% if characters|length < 3 %}
	<div>
		<p><a href="{% url 'create_character' %}">New Character</a></p>
	</div>
{% endif %}

{% endblock %}
