{% extends "base.html" %}
{% block mainframe %}

TODO: Show only origins after Faction, and only those that are related to the faction
{% if check %}
	<P>Maximum amount of characters has been reached</P>
	<P><a href="{% url 'characters' %}">click here</a> to return</P>

{% else %}

	<div>
		<h2>Create new character</h2>
		<form action="{% url 'create_character' %}" method="post">{% csrf_token%}
			{{ create_char.as_p }}
	
			<input type="submit" value="Create" />
	
		</form>
	</div>
{% endif %}

{% endblock %}	

